spring:
  kafka:
    topics:
      exchange-rates: exchange-rates
      exchange-rates-group-id: exchange-rate-group
      exchange-rates-container-factory: kafkaListenerContainerFactory
    consumer:
      group-id: my-group
      auto-offset-reset: earliest
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
